/*** Messengers button ***/
:root {
	--corporate-color-1: #216DFF;
	--corporate-color-hover-1: #1A5BD9;
}

.callback-button-wrapper {
	position: fixed;
	bottom: 95px;
	right: 15px;
	z-index: 999;
}

.callback-button {
	width: 70px;
	height: 70px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	animation: waves linear 2s infinite;
	-webkit-animation: waves linear 2s infinite;
	transition: .25s;
	cursor: pointer;
	padding-top: 15px;
	padding-left: 15px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
}

.onsale {
	display: none;
}

@keyframes waves {
	0% {
		box-shadow: 0 0 0 0 rgba(33,109,255,.3), 0 0 0 0 rgba(33,109,255,.3), 0 0 8px 0 rgba(0,0,0,.5);
	}
	50% { box-shadow: 0 0 0 0 rgba(33,109,255,.15), 0 0 0 15px rgba(33,109,255,.15), 0 0 8px 0 rgba(0,0,0,.5);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(33,109,255,0), 0 0 0 30px rgba(33,109,255,0), 0 0 8px 0 rgba(0,0,0,.5);
	}
}

.callback-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-button-ico {
	width: 40px;
	height: 40px;
	filter: invert();
	animation: change linear 16s infinite;
	-webkit-animation: change linear 16s infinite;
	-webkit-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@keyframes change {
	0% {
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	1%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	24%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	25%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		opacity: 0;
	}
	26%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		opacity:0;
	}
	27%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		opacity: 1;
	}
	49%{
		background-image:url(../img/messengers-button-img/messengers-button-ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity: 1;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
	50%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		opacity: 0;
	}
	51%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	52%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity: 1;
		transform: rotate(360deg);
	}
	74%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity:1;
		transform: rotate(360deg);
	}
	75%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity:0;
	}
	76%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	77%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	99%{
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	100% {
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size :cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
}

@keyframes change2 {
	0% {
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	50% {
		background-image: url(../img/messengers-button-img/messengers-button-ico/callback-button-close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(180deg);
		opacity: 1;
	}
}

.callback-form-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-form-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-form-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/messengers-button-img/messengers-button-ico/callback-phone-button-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-phone-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-phone-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-phone-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/messengers-button-img/messengers-button-ico/callback-phone-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-whatsapp-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition:.25s;
}

.callback-whatsapp-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-whatsapp-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/messengers-button-img/messengers-button-ico/callback-whatsapp-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-telegram-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left:10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-telegram-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-telegram-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/messengers-button-img/messengers-button-ico/callback-telegram-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size :contain;
}
/*** End messengers button ***/